---
layout: default
title: Latest Posts
pagination:
  enabled: true
permalink: /blog/
---
{% seo %}

{% for post in site.posts %}
  <a href="{{ post.url }}">
    <h4> {{ post.title }}  </h4>
    <small> {{ post.date | date_to_string }} </small>
  </a>
  <hr/>
{% endfor %}

<!-- Paginator -->
{% if paginator.total_pages > 1 %}
<div class="pager">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"></a>
  {% endif %}
  {% if paginator.next_page %}
  <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"></a>
  {% endif %}
</div>
{% endif %}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script src="//unpkg.com/jscroll/dist/jquery.jscroll.min.js"></script>

<script type="text/javascript">
  $('.content').jscroll({
    contentSelector: ".content",
    nextSelector: '.next'
  });
</script>