---
layout: post
pagination:
  enabled: true
permalink: /blog/
---
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tiago R.</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">

</head>

<body>

<div class="container">

  <div class="content">

    {% for post in site.posts %}

      <p></p>

      <a href="{{ post.url }}">
        <h2> {{ post.title }} <small> {{ post.date | date_to_string }} </small> </h2>
      </a>

      {{ post.excerpt }}

    {% endfor %}

    <!-- Paginator -->
    {% if paginator.total_pages > 1 %}
    <div class="pager">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"></a>
      {% endif %}
      {% if paginator.next_page %}
        <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"></a>
      {% endif %}
    </div>
    {% endif %}

  </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script src="//unpkg.com/jscroll/dist/jquery.jscroll.min.js"></script>

<script type="text/javascript">
  $('.content').jscroll({
    contentSelector: ".content",
    nextSelector: '.next'
  });
</script>

</body>
</html>