<!DOCTYPE html>
<html lang="en">
<head>
  
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    
    <link rel="shortcut icon" href="../../img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Spring Boot + Keycloak - Just Experiments</title>
    <link href="../../css/bootstrap-3.3.7.min.css" rel="stylesheet">
    <link href="../../css/font-awesome-4.7.0.css" rel="stylesheet">
    <link href="../../css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/highlight.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap-3.3.7.min.js"></script>
    <script src="../../js/highlight.pack.js"></script>
    
    <base target="_top">
    <script>
      var base_url = '../..';
      var is_top_frame = false;
        
        var pageToc = [
          {title: "Install Keycloak", url: "#_top", children: [
          ]},
          {title: "Application Code", url: "#application-code", children: [
          ]},
        ];

    </script>
    <script src="../../js/base.js"></script> 
</head>

<body>
<script>
if (is_top_frame) { $('body').addClass('wm-top-page'); }
</script>



<div class="container-fluid wm-page-content">
  <a name="_top"></a>
    

    
    
      
    

  <div class="row wm-article-nav-buttons" role="navigation" aria-label="navigation">
    
    <div class="wm-article-nav pull-right">
      <a href="../spring-actuator/" class="btn btn-xs btn-default pull-right">
        Next
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
      <a href="../spring-actuator/" class="btn btn-xs btn-link">
        Spring Boot Actuator
      </a>
    </div>
    
    <div class="wm-article-nav">
      <a href="../../Eclipse-Vert.x/vertx-jwt-auth/" class="btn btn-xs btn-default pull-left">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        Previous</a><a href="../../Eclipse-Vert.x/vertx-jwt-auth/" class="btn btn-xs btn-link">
        VertX - JWT Auth & MongoDB
      </a>
    </div>
    
  </div>

    

    <p><a href="https://www.keycloak.org/">Keycloak</a> is an open-source identity and access management (IAM) solution for modern applications and services. Keycloak provides both SAML and OpenID protocol solutions.</p>
<p>Keycloak provides identity and access management, it is also open source. SAML and OpenID protocols are industry standards. Building an application that is integrated with Keycloak will only provide you a more secure and stable solution. There are definitely other solutions available like Gluu, Shibboleth, WSO2.</p>
<h3 id="install-keycloak">Install Keycloak</h3>
<p>Download the <a href="https://www.keycloak.org/downloads">KeyClock</a> and extract it on any directory. </p>
<p>From the extracted folder, run the below command to start up KeyClock.</p>
<pre><code class="language-bash">/bin/standalone.sh -Djboss.socket.binding.port-offset=100
</code></pre>
<p>Once we access the admin console, we should:</p>
<ul>
<li>
<p>Create a new realm called <code>SpringBootKeycloakApp</code>
<img src="/images/keycloack/add_realm.png" width="auto" ></p>
</li>
<li>
<p>Create a new client application setting the <code>redirect_uris</code> to <code>http://localhost:8080/sso/login</code>
<img src="/images/keycloack/add_app.png" width="auto" ></p>
</li>
<li>
<p>Create a new user 
<img src="/images/keycloack/add_user.png" width="auto" ></p>
</li>
<li>
<p>Set a password for this user on the credentials tab
<img src="/images/keycloack/add_user_password.png" width="auto" ></p>
</li>
<li>
<p>Create a new role called <code>user</code> e.g
<img src="/images/keycloack/add_role.png" width="auto" ></p>
</li>
<li>
<p>Assign this role for the user
<img src="/images/keycloack/assign_role.png" width="auto" ></p>
</li>
</ul>
<h3 id="application-code">Application Code</h3>
<p>After define our users and roles as well as realm and client details in Keyloack, 
we can run our application and once we access the protected resource you'll be prompt to input your credentials.</p>
<p>If your input matches the correct credentials you'll be able to acess the protected resource.</p>
<p><code>build.gradle</code></p>
<pre><code class="language-groovy">plugins {
    id 'org.springframework.boot' version '2.3.3.RELEASE'
    id 'io.spring.dependency-management' version '1.0.10.RELEASE'
    id 'java'
}

group = 'io.tiago.demo'
version = '0.0.1-SNAPSHOT'
sourceCompatibility = '1.8'

repositories {
    mavenCentral()
}

ext {
    set('keycloakVersion', '11.0.2')
}

dependencies {
    implementation 'org.springframework.boot:spring-boot-starter-data-jpa'
    implementation 'org.springframework.boot:spring-boot-starter-security'
    implementation 'org.springframework.boot:spring-boot-starter-thymeleaf'
    implementation 'org.springframework.boot:spring-boot-starter-web'
    implementation 'org.springframework.boot:spring-boot-starter-jdbc'
    implementation 'org.keycloak:keycloak-spring-boot-starter'
    runtimeOnly 'mysql:mysql-connector-java'
    testImplementation('org.springframework.boot:spring-boot-starter-test') {
        exclude group: 'org.junit.vintage', module: 'junit-vintage-engine'
    }
    testImplementation 'org.springframework.security:spring-security-test'
}

dependencyManagement {
    imports {
        mavenBom &quot;org.keycloak.bom:keycloak-adapter-bom:${keycloakVersion}&quot;
    }
}

test {
    useJUnitPlatform()
}
</code></pre>
<p><code>application.properties</code></p>
<pre><code class="language-sql">spring.datasource.url=jdbc:mysql://127.0.0.1/test?autoReconnect=true&amp;useSSL=false
spring.datasource.username=root
spring.datasource.password=12345678
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
spring.datasource.hikari.connection-test-query=SELECT 1
###### KEYCLOAK CONFIGURATION
keycloak.auth-server-url=http://localhost:8180/auth
keycloak.realm=SpringBootKeycloakApp
keycloak.resource=SpringBootApp
keycloak.public-client=true
#keycloak.security-constraints[0].authRoles[0]=ROLE_USER
#keycloak.security-constraints[0].securityCollections[0].patterns[0]=/tasks
keycloak.principal-attribute=preferred_username
</code></pre>
<p><code>KeycloakConfig.java</code></p>
<pre><code class="language-java">package io.tiago.demo.config;

import org.keycloak.adapters.springboot.KeycloakSpringBootConfigResolver;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

@Configuration
public class KeycloakConfig
{
    @Bean
    public KeycloakSpringBootConfigResolver keycloakSpringBootConfigResolver()
    {
        return new KeycloakSpringBootConfigResolver();
    }
}
</code></pre>
<p><code>SecurityConfig.java</code></p>
<pre><code class="language-java">package io.tiago.demo.config;


import org.keycloak.adapters.springsecurity.KeycloakConfiguration;
import org.keycloak.adapters.springsecurity.authentication.KeycloakAuthenticationProvider;
import org.keycloak.adapters.springsecurity.config.KeycloakWebSecurityConfigurerAdapter;
import org.keycloak.adapters.springsecurity.management.HttpSessionManager;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.boot.autoconfigure.condition.ConditionalOnMissingBean;
import org.springframework.context.annotation.Bean;

import org.springframework.security.config.annotation.authentication.builders.AuthenticationManagerBuilder;
import org.springframework.security.config.annotation.web.builders.HttpSecurity;
import org.springframework.security.core.authority.mapping.SimpleAuthorityMapper;
import org.springframework.security.core.session.SessionRegistryImpl;
import org.springframework.security.web.authentication.session.RegisterSessionAuthenticationStrategy;
import org.springframework.security.web.authentication.session.SessionAuthenticationStrategy;


@KeycloakConfiguration
public class SecurityConfig extends KeycloakWebSecurityConfigurerAdapter
{
    @Autowired
    public void configureGlobal(AuthenticationManagerBuilder authenticationManagerBuilder)
    {
        SimpleAuthorityMapper simpleAuthorityMapper = new SimpleAuthorityMapper();
        simpleAuthorityMapper.setPrefix(&quot;ROLE_&quot;);

        KeycloakAuthenticationProvider keycloakAuthenticationProvider =
                keycloakAuthenticationProvider();
        keycloakAuthenticationProvider.setGrantedAuthoritiesMapper(simpleAuthorityMapper);
        authenticationManagerBuilder.authenticationProvider(keycloakAuthenticationProvider);
    }

    @Bean
    @Override
    protected SessionAuthenticationStrategy sessionAuthenticationStrategy ()
    {
        return new RegisterSessionAuthenticationStrategy(new SessionRegistryImpl());
    }

    @Bean
    @Override
    @ConditionalOnMissingBean(HttpSessionManager.class)
    protected HttpSessionManager httpSessionManager()
    {
        return new HttpSessionManager();
    }

    @Override
    protected void configure(HttpSecurity httpSecurity) throws Exception
    {
        super.configure(httpSecurity);
        httpSecurity.authorizeRequests()
                .antMatchers(&quot;/tasks&quot;).hasRole(&quot;user&quot;)
                .anyRequest().permitAll();
    }
}
</code></pre>
<p><code>TaskController.java</code></p>
<pre><code class="language-java">package io.tiago.demo.controllers;

import io.tiago.demo.dto.TaskDto;
import io.tiago.demo.managers.TaskManager;
import org.keycloak.KeycloakSecurityContext;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.GetMapping;

import javax.servlet.http.HttpServletRequest;
import java.util.List;

@Controller
public class TaskController
{
    private final HttpServletRequest request;

    @Autowired
    public TaskController(HttpServletRequest request)
    {
        this.request = request;
    }

    @Autowired
    private TaskManager taskManager;

    @GetMapping(value=&quot;/&quot;)
    public String home()
    {
        return &quot;index&quot;;
    }

    @GetMapping(value=&quot;/tasks&quot;)
    public String getTasks(Model model)
    {
        List&lt;TaskDto&gt; tasks = taskManager.getAllTasks();
        model.addAttribute(&quot;tasks&quot;, tasks);
        model.addAttribute(&quot;name&quot;, getKeycloakSecurityContext().getIdToken().getGivenName());

        return &quot;tasks&quot;;
    }

    private KeycloakSecurityContext getKeycloakSecurityContext()
    {
        return (KeycloakSecurityContext) request.getAttribute(KeycloakSecurityContext.class.getName());
    }

}
</code></pre>
<p><code>TaskManager.java</code></p>
<pre><code class="language-java">package io.tiago.demo.managers;

import io.tiago.demo.dto.TaskDto;
import io.tiago.demo.models.Task;
import io.tiago.demo.repositories.TaskRepository;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

import java.util.ArrayList;
import java.util.List;
import java.util.Optional;

@Component
public class TaskManager
{
    @Autowired
    private TaskRepository taskRepository;

    public TaskDto createTask(TaskDto taskDto)
    {
        return null;
    }

    public TaskDto getTask(int id)
    {
        Optional&lt;Task&gt; task = taskRepository.findById(id);
        if(task.isPresent())
        {
            return new TaskDto(task.get());
        }
        else
        {
            return null;
        }
    }

    public List&lt;TaskDto&gt; getAllTasks()
    {
        List&lt;Task&gt; tasks = (List&lt;Task&gt;) taskRepository.findAll();
        List&lt;TaskDto&gt; taskDtos = new ArrayList&lt;&gt;();
        for(Task task: tasks)
        {
            taskDtos.add(new TaskDto(task));
        }
        return taskDtos;
    }
}
</code></pre>
<p><code>Task.java</code></p>
<pre><code class="language-java">package io.tiago.demo.models;

import com.fasterxml.jackson.annotation.JsonFormat;

import javax.persistence.*;
import java.io.Serializable;
import java.util.Date;

@Entity(name=&quot;Task&quot;)
@Table(name = &quot;task&quot;)
public class Task implements Serializable
{
    private static final long serialVersionUID = 1L;

    public Task(){}

    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    @Column(name=&quot;id&quot;, nullable = false)
    private int id;

    @Column(name = &quot;taskname&quot;, nullable=false)
    private String taskname;

    @Column(name = &quot;duedate&quot;)
    @JsonFormat(pattern=&quot;yyyy-MM-dd&quot;)
    private Date dueDate;

    @Column(name = &quot;status&quot;)
    private String status;

    @Override
    public String toString()
    {
        return &quot;Task = { id = &quot; + id + &quot;, taskname = &quot; + taskname + &quot;, duedate: &quot; + dueDate
                + &quot;, status = &quot; + status + &quot;}&quot;;
    }

    public int getId ()
    {
        return id;
    }

    public void setId (int id)
    {
        this.id = id;
    }

    public String getTaskname ()
    {
        return taskname;
    }

    public void setTaskname (String taskname)
    {
        this.taskname = taskname;
    }

    public Date getDueDate ()
    {
        return dueDate;
    }

    public void setDueDate (Date dueDate)
    {
        this.duedate: dueDate;
    }

    public String getStatus ()
    {
        return status;
    }

    public void setStatus (String status)
    {
        this.status = status;
    }
}
</code></pre>
<p><code>TaskRepository.java</code></p>
<pre><code class="language-java">package io.tiago.demo.repositories;

import io.tiago.demo.models.Task;
import org.springframework.data.repository.CrudRepository;

public interface TaskRepository extends CrudRepository&lt;Task, Integer&gt; { }
</code></pre>
<p><code>index.html</code></p>
<pre><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;html xmlns=&quot;http://www.w3.org/1999/xhtml&quot;
      xmlns:th=&quot;http://www.thymeleaf.org&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;Homepage&lt;/title&gt;
    &lt;!-- Style --&gt;
    &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css&quot; integrity=&quot;sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T&quot; crossorigin=&quot;anonymous&quot;&gt;
    &lt;style&gt;
        body {
            padding-top: 5rem;
        }
        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-lg-8 col-lg-offset-4&quot;&gt;
            &lt;p&gt;Welcome to the Task Manager - A simple app to test Keycloak&lt;/p&gt;
            &lt;br/&gt;&lt;br/&gt;
            &lt;a href=&quot;#&quot; th:href=&quot;@{/tasks}&quot;&gt;Get all tasks&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p><code>task.html</code></p>
<pre><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;html xmlns=&quot;http://www.w3.org/1999/xhtml&quot;
      xmlns:th=&quot;http://www.thymeleaf.org&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;Tasks&lt;/title&gt;
    &lt;!-- Style --&gt;
    &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css&quot; integrity=&quot;sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T&quot; crossorigin=&quot;anonymous&quot;&gt;
    &lt;style&gt;
        body {
            padding-top: 5rem;
        }
        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-lg-12&quot;&gt;
            &lt;h2&gt;Tasks for &lt;b th:text=&quot;${name}&quot;&gt;&lt;/b&gt;&lt;/h2&gt;
            &lt;br/&gt;
            &lt;p th:each=&quot;task: ${tasks}&quot; th:text=&quot;${task.taskName}&quot;&gt;&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>

  <br>
    

    
    
      
    

  <div class="row wm-article-nav-buttons" role="navigation" aria-label="navigation">
    
    <div class="wm-article-nav pull-right">
      <a href="../spring-actuator/" class="btn btn-xs btn-default pull-right">
        Next
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
      <a href="../spring-actuator/" class="btn btn-xs btn-link">
        Spring Boot Actuator
      </a>
    </div>
    
    <div class="wm-article-nav">
      <a href="../../Eclipse-Vert.x/vertx-jwt-auth/" class="btn btn-xs btn-default pull-left">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        Previous</a><a href="../../Eclipse-Vert.x/vertx-jwt-auth/" class="btn btn-xs btn-link">
        VertX - JWT Auth & MongoDB
      </a>
    </div>
    
  </div>

    <br>
</div>

<footer class="container-fluid wm-page-content">
  <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a> using <a href="https://github.com/gristlabs/mkdocs-windmill">Windmill</a> theme by Grist Labs.</p>
</footer>

</body>
</html>