---
layout: default
title: 
pagination:
  enabled: true
  per_page: 6
  offset: 2
---
{% seo %}

{% for post in paginator.posts %}
    <a href="{{ post.url }}">
      <h4> {{ post.title }}  </h4>
      <small> {{ post.date | date_to_string }} </small>
    </a>  
    <hr/>
{% endfor %}

<!-- Paginator -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="btn btn-primary">
      Previous
    </a>
  {% else %}    
    <span class="btn btn-secondary">Previous</span>
  {% endif %}
  <span class="page_number">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn btn-primary">Next</a>
  {% else %}
    <span class="btn btn-secondary">Next</span>
  {% endif %}
</div>
